.red {
  color: red;
}
.font-bold {
  color: blue;
  font-size: 34px;
}
.font-style {
  font-style: italic;
}
#h2 {
  color: aqua;
  font-size: 14px;
  font-style: normal;
}
.width {
  width: 400px;
  padding: 20px;
}
.flex {
  display: flex;
  align-items: center;
  gap: 50px;
}
.blue {
  background-color: aqua;
}

.gap {
  gap: 10px;
}
